@screen-sm: 768px;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('/fonts/MaterialIcons-Regular.woff2') format('woff2'),
  url('/fonts/MaterialIcons-Regular.woff') format('woff'),
  url('/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('/fonts/Roboto-Light.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('/fonts/Roboto-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('/fonts/Roboto-Medium.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


* {
  margin:0; padding:0;

} /* to remove the top and left whitespace */

*:focus {
  outline: none;
}

.transition (@value1,@value2:X,...)
{
  @value: ~`"@{arguments}".replace(/[\[\]]|\,\sX/g, '')`;

  -webkit-transition: @value;
  -moz-transition: @value;
  -ms-transition: @value;
  -o-transition: @value;
  transition: @value;
}

.fade {
  .transition(opacity 0.7s);
  &.in {
    opacity: 0.1;
  }
}

html, body {
  width:100%; height:100%; overflow: hidden;
  font-family: Roboto;
} /* just to be sure these are full screen*/

canvas { display:block; }

button {
  border: none;
  background: none;
  font-size: initial;
  cursor: pointer;
  font-family: Roboto;
}

.welcome {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #d5cbef, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;


  h1 {
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
  }

  h4 {
    font-weight: 300;
  }

  p {
    text-align: center;
  }

  button {
    margin-top: 2em;
  }

  .material-icons {
    font-size: 4em;
    text-shadow: 2px 2px 3px rgba(0,0,0,.2);

    .transition(text-shadow 0.3s );

    &:hover, &:active {
      cursor: pointer;
      text-shadow: 1px 1px 3px rgba(0,0,0,.2);
    }

  }
}

h4 {
  text-align: center;
  margin-top: 10px;
}

.debug {
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 20px;
}

.footer {
  position: absolute;
  right: 20px;
  bottom: 10px;

  @media (min-width: @screen-sm) {
    bottom: 20px;
  }

  img {
    width: 50px;
  }
}

.info-block {
  position: absolute;
  top: 20px;
  right: 20px;

  button {
    padding-bottom: 2px;
  }

  .lang-btn {

    &.active {
      border-bottom: 1px solid;
    }

  }

  .material-icons {
    vertical-align: bottom;
    font-size: 20px;
  }

}

.i18n-block {
  display: inline;
}


.level-description-block {
  position: absolute;
  width: 100%;
  bottom: 40px;

  @media (min-width: @screen-sm) {
    width: 80%;
  }


  .content {
    margin: 0 auto;
    width: 80%;

  }

  h3 {
    margin-bottom: 10px;
    font-weight: 400;

  }

  p {
    font-weight: 300;
  }
}